*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Main-Container{
    display: flex;
    align-content: space-around;
    height: auto;
}
.Left-Container{
 font-family: tilt neaon,sans-serif;
   width: 683px;
   height: 641px;
   text-align: start;
   font-size: 16px;
   color: black;
   background-color: #d1dce7;
}
.input{
    margin-top: 200px;
    margin-left: 100px;
    
   

}
#note{
    width: 464px;
    height: 202px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 2%;
}
#color{
    width: 50px;
    height: 27px;
    align-content: center;
}
.btn{
    
    margin-left: 100px;
    margin-top: 20px;
}
.add{
    width: 160px;
    height: 55px;
    background-color: rgba(236, 116, 149, 0.75);
    color: #ffffff;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid blue;
}
.add:hover{
    animation: both;
    box-shadow: rgba(236, 116, 149, 0.75) 0px 4px 15px 0px;

}
.Right-Container{
    width: 683px;
    height: 100%;
    scroll-behavior: auto;
}
.h1{
    font-size: 32px;
    width: 666px;
    height: 41px;
    text-align: center;
}
#message{
    font-size: 16px;
    width: 218px;
    height: 20px;
    text-align: start;
    margin-top: 231px;
    margin-right: 190px;
    margin-left: 224px;
    margin-bottom: 390px;
}
#note-area{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    column-gap: 10px;
}